.header{
    background-image: url('/assets/images/plane.jpeg');
    height: 337px;
    background-size: cover;
}

.footer {
    height: 200px;
}

  .footer a {
      color: white;
  }

.header {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
}
